.img-circle { 
   border-radius: 10%;
   } 
   
   
   ul { 
   list-style-position: inside; 
   } 
   
   .fancypara { 
   width: 50px;
   }
   
   
#container {
min-height:100%;
}

#top_div {
height:50%;
width:100%;
background-color:#0066cc;
margin:auto;
text-align:center;
}

#bottom_div {
height:50%;
width:100%;
background-color:#990000;
margin:auto;
text-align:center;
color:#FFFFFF;
}